<%- include('./partials/header') %>
<!--begin main-->
<!--content-->

<section class="home-content">
<% items.forEach(function(item) { %>
  <article class="home-items">
      <p><%= item.title %></p>
   </article>
<% }) %>
</section>


<!--einde main-->
<%- include('./partials/footer') %>