<%- include('./partials/header') %>


<section class="scroll-carousel">
<div class="item">box</div>
<div class="item">box</div>
<div class="item">box</div>
<div class="item">box</div>
<div class="item">box</div>
<div class="item">box</div>
<div class="item">box</div>
<div class="item">box</div>
<div class="item">box</div>
<div class="item">box</div>
<div class="item">box</div>
<div class="item">box</div>
<div class="item">box</div>
<div class="item">box</div>
<div class="item">box</div>
<div class="item">box</div>
</section>